<%= javascript_tag do %>
    window.data = '<%=j @problem %>'
<% end %>

<div id="canvas_container"></div>
<div id="chart-popup">
    <div id="bubble-container">
    </div>
    <div id="problem-container" class="hidden">

        <h2 class="synopsis">Synopsis</h2>
        <div id="parent">
            <div class="right">
                <span class="upvote vote" id="upvote">
                    <image src="<%= image_path "thumbs-up.png" %>"/>
                </span>
                <span id="count"></span>
                <span class="downvote vote" id="downvote">
                    <image src="<%= image_path "thumbs-down.png" %>"/><br>
                </span>
            </div>
        <div id="synopsis" class="left">
        </div>
        </div>
        <button type="button" id="back">BACK</button>
        <button type="button" id="render-solution-form">Submit Solution</button>
        <button type="button" id="improvement-button">Improve</button>
        <div>
<div class="frame" id="improvement-form">
    <%= render '/improvements/form' %>
</div>
<div class="frame" id="solution-form">
    <%= render '/solutions/form' %>
</div>
        </div>
    </div>
    <div id="disqus_thread"></div>
</div>


<!--
<div id="footer">
     Click Me!
</div> -->
