<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael-animated-viewbox', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-constants', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-model', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-factories', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator', 'data-turbolinks-track' => true %>

<div id="canvas_container"></div>

