<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael-animated-viewbox', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-constants', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-model', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-factories', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator', 'data-turbolinks-track' => true %>


<%= javascript_tag do %>
    window.data = <%=j @problem %>
<% end %>

<div id="canvas_container"></div>

<div class="chart-popup">
    <div id="problem-container">
        <h2>synopsis:</h2>
        <div id="synopsis"></div>
        <button type="button" id="back">BACK</button>
        <button type="button" id="render-solution-form">PERCOLATE</button>
        <button type="button" id="upvote">Upvote</button>
        <button type="button" id="downvote">Downvote</button>
    </div>
    <div id="bubble-container">
        <div class="title-bar">
            View a discussion, or start one of your own:
        </div>
    </div>
</div>

