<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'raphael-animated-viewbox', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-constants', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator-factories', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'percolator', 'data-turbolinks-track' => true %>

<%= javascript_tag do %>
    window.data = '<%=j @problem %>'
<% end %>

<div id="canvas_container"></div>
<div id="chart-popup">
    <div id="problem-container" class="hidden">
        <div id="synopsis"></div>
        <button type="button" id="back">BACK</button>
        <button type="button" id="render-solution-form">PERCOLATE</button>
        <div>
            <span class="upvote" id="upvote">
                <image src="<%= image_path "thumbs-up.png" %>"/>
            </span>
            <span id="count"></span>
            <span class="downvote" id="downvote">
                <image src="<%= image_path "thumbs-down.png" %>"/>
            </span>
        </div>
        <div id="bubble-container"></div>
        <div id="disqus_thread"></div>
    </div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'perc';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<div id="solution-form">
    <%= render '/solutions/form' %>
</div>
