<%= javascript_tag do %>
    window.data = '<%=j @problem %>'
<% end %>

<div id="canvas_container"></div>
<div id="detail-window">
    <div id="bubble-container"></div>

    <div id="detail-window-problem-container">
        <div class="detail-page-label" id="detail-page-title-header">Problem</div>
        <div class="detail-page-text" id="detail-page-title"></div>
        <div class="detail-page-label" id="detail-page-description-header">Description</div>
        <div class="detail-page-text" id="detail-page-description"></div>
        <div>
            <button type="button" id="back">Back</button>
            <button type="button" id="render-solution-form">Submit Solution</button>
            <button type="button" id="improvement-button">Improve</button>
        </div>
        <div class="frame" id="improvement-form">
            <%= render '/improvements/form' %>
        </div>
    </div>

    <div class="vote-container">
        <div class="detail-page-label">Vote:</div>
                <span class="vote" id="upvote">
                    <image src="<%= image_path "thumbs-up.png" %>"/>
                </span>
        <span id="count"></span>
                <span class="vote" id="downvote">
                    <image src="<%= image_path "thumbs-down.png" %>"/><br>
                </span>
    </div>

</div>


<!-- <div id="solution-form">
    <%= render '/solutions/form' %>
</div> -->
<!--
<div id="footer">
     Click Me!
</div> -->
