<%= form_for @improvement, :url => solution_improvements_create_path(1), remote: true do |f| %>
  <p>What's your improvement?</p><br>
  <%= f.label :title, "Gist: " %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description, "Description: " %> <br>
  <%= f.text_area :description %><br>
  <%= f.submit "Percolate", :class => "Percolate" %>
<% end %>
