<div class="frame">
    <div id="sign_in_form">
      <h2>sign in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), namespace: 'sign_in') do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>
	  <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>
            <div><%= f.submit "go" %></div>
    <% end %>
    </div>
</div>
