<!DOCTYPE html>
<html>
<head>
  <title>Percolator</title>
  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="header" >
        <image  src="<%= image_path "logo.png" %>"/>
            <div class="brand"><%= link_to 'percolate', root_path %></div>
            <% if !current_user %>
                <div id="user_login">
                    <div class="header_button" onclick="location.href='/users/sign_in';" style="cursor: pointer;">Sign in</div>
                    <div class="header_button" onclick="location.href='/users/sign_up';" style="cursor: pointer;">Sign up</div>
                </div>
            <% else %>
                <div id="user_login">
                    <div id='welcome_message'><%= current_user.email %> | </div>
                    <div id="user_logout"><%= button_to('Logout', destroy_user_session_path, method: :delete, id: "logout_button") %></div>
                </div>
            <% end %>
            <br>
        </div>
        <div class="title-bar" id="page-title">
        </div>
        <%= render 'shared/notice_div' %>

        <%= yield %>

    </body>
</html>
